* {
  font-size: 100%;
}

.ifrm-html {
  position: absolute;
  width: 25%;
  height: 100%;
}

.right_up {
  width: 100%;
  background-color: #337ab7;
  height: 20%;
}
.right_up img {
  width: 49%;
  height: 49%;
  float: left;
  border: 1px solid #fff;
  margin-top: 0.5%;
  margin-left: 0.5%;
}
.right_down {
  width: 100%;
  height: 29%;
  background-color: #337ab7;
}
.magin_top {
  margin-top: 0.5%;
}
.right_up_tab {
  width: 100%;
  height: 10%;
  background-color: #e6eaf0;
  font-size: 1.25em;
  color: #ffffff;
  line-height: 300%;
  text-align: center;
  font-weight: bold;
}
.CommentArea{
  width: 80%;
  height: 40%;
  margin-top: 7%;
  margin-left: 7%;
}
.CommentSubmit{
  margin-top: 2%;
  margin-left: 40%;
}
.right_up_con {
  width: 100%;
  height: 80%;
  background-color: #337ab7;
}
.right_up_con .tit_top {
  font-size: 1.5em;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}
.right_up_magin_top{
  height: 30%;
  background-color: #337ab7;
}
.color_write{
  color: #FFFFff;
}
.text_right_a{
  text-align: right;
  margin-right: 1%;
}
/* .PupulationInput{

    width: 70%;
    border:1px solid #000;
    height:23px;
} */
/* .DemocracyInput{
  width: 70%;
  border:1.5px solid #000;
  height:23px;
} */
/* .RepublicanInput{

  width: 70%;
  border:1px solid #000;
  height:23px;
} */
.DemographicInput{
  width: 70%;
  border:1px solid #000;
  height:23px;
}
.Change{
  margin-left: 5%;
  /* margin-top:20px; */
  height: 15px;
  width: 15px;


}
.text_left_a{
  /* float: left; */
  /* font-size:1px; */
  margin-left: 1%;
}
.right_up_con_text{
  font-size:20px;
  background-color: #337ab7;
  /* float: left; */
  /* padding: 10px; */
}
.right_up_con_text div{
  width: 100%;
  /* float: left; */
  line-height:20px;
  color: #FFFFff;
  font-size: 14px;
  padding-top: 5px;
}
.right_up_con_text span{
  color: #31aaff;
  font-weight: bold;
}
.DataName{
  width: 30%;
  white-space: nowrap;
  float: left;
}
.text_left_a_data{
  /* margin-top: 11%;
  margin-left: -20%; */
  padding: 0px;
  float: left;
  white-space: nowrap;
}
.right_up_con_text_right{
  /* margin-left: 10%; */
  width: 40%;
  padding: 5px;
  float: left;
}

.right_up video{
  width: 49.5%;
  height: 49.5%;
  box-sizing: border-box;
  float: left;
  background-color: black;
}
.right_up video:nth-child(2n+1){
  margin-right: 1%;
}
.right_up video:nth-child(3), .right_up video:nth-child(4){
  margin-top: 1%;
}
.right_table{
  width: 98%;
  border-collapse: collapse;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
}
.right_table th{
  color: #498fff;
  border: 1px solid #405f91;
  padding: 5px 0;
}
.right_table td{
  border: 1px solid #405f91;
  padding: 5px 0;
  color: #FFFFff;
}
.table-striped>tbody>tr:nth-of-type(odd){
  background-color: transparent;
}
.table-striped>tbody>tr:nth-of-type(even):hover{
  background-color: transparent;
}

.right_flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #081832;
  /*height: 20%;*/
}
.right_flex_tab {
  line-height: 35px;
  background-color: #19407e;
  font-size: 1.45em;
  color: #ffffff;
  text-align: center;
  flex-grow: 0 !important;
}
.right_flex > div {
  flex-grow: 1;
}
.flex_con {
  padding: 5px 10px;
}
.flex_a {
  float: right;
  margin-right: 5px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  width: 35px;
  text-align: center;
  height: 15px;
  border-radius: 15px;
  line-height: 15px;
}
.bg_blue {
  background-color: #1f3b69;
}
.bg_sk {
  background-color: #1c78b9;
}
.flex_bg {
  background-color: #0f2343;
  margin-top: 5px;
}
.right_flex .flex_con label {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.25em;
}
.right_flex .flex_con span {
  color: #7c99c8;
  font-size: 1.2em;
}
.flex_con_div {
  width: 50%;
  float: left;
}
.color_blue {
  color: #4b8df8 !important;
}
.table_p {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  background-color: #081832;
  text-align: center;
}
.table_p td {
  border: none !important;
}
.table_p thead th {
  color: #61d2f7;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none !important;
}
.table_p tbody {
  color: #ffffff;
  font-size: 13px;
}
.table_p tbody tr:nth-child(2n + 1) {
  background-color: #072951;
  box-shadow: -10px 0px 15px #034c6a inset, 10px 0px 15px #034c6a inset;
}
/* Tabs*/
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #337ab7;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#tabs{
background: #337ab7;
  color: #eee;
}
#tabs h6.section-title{
  color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f3f3f3;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 1px solid !important;
  font-size: 20px;
  font-weight: bold;
}
#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  /* border-top-left-radius: 0rem;
  border-top-right-radius: 0rem; */
  color: #eee;
  font-size: 20px;
}
