.sidepane {
    font-family: Helvetica;
    position: absolute;
    width: 408px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 3;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    opacity: .9;
}

.sidepane .sidepane-content {
    padding: 10px;
}

.sidepane .sidepane-errlog .tab-content {
    position: relative;
}

.sidepane .scroll {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
}
