.sidepane {
    position: absolute;
    width: 408px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 3;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    opacity: .9;
}
