.sidepane-data .sidepane-body {
    padding: 50px 0 0 30px;
    margin-bottom: 15px;
}

.sidepane-data .sidepane-body .sidepane-nav-state, .sidepane-nav-county {
    font-size: 14px;
    color: #555555;
    margin-bottom: 0;
}

.sidepane-data .sidepane-body .sidepane-nav-precinct {
    font-weight: 500;
}

.sidepane-data .sidepane-content .nav-link {
    padding: 8px 78px;
}

/* Voting data and Demographic data  */
.sidepane-data .sidepane-content .tab-pane .table-title {
    font-size: 18px;
    font-weight: 600;
}

.sidepane-data .sidepane-content .tab-pane .table {
    width: 95%;
    float: right;
}

.sidepane-data .sidepane-content .tab-pane .table td, table th{
    padding: .5rem;
    vertical-align: middle;
}

.sidepane-data .sidepane-content .tab-pane .row-title {
    min-width: 150px;
    max-width: 150px;
}
