.sidepane-data .sidepane-body {
    padding: 50px 0 0 30px;
    margin-bottom: 15px;
}

.sidepane-data .sidepane-body h3 {
    display: inline;
}

.sidepane-data .sidepane-body .ghost-label {
    color: #555555
}

.sidepane-data .sidepane-body .sidepane-nav-state, .sidepane-nav-county {
    font-size: 14px;
    color: #555555;
    margin-bottom: 0;
}

.sidepane-data .sidepane-body .sidepane-nav-precinct {
    font-weight: 500;
}

.sidepane-data .sidepane-content .nav-link {
    padding: 8px 77px;
}

/* Voting data and Demographic data  */
.sidepane-data .sidepane-content .tab-pane .table-title {
    margin: .6rem 0;
    font-size: 18px;
    font-weight: 600;
}

.sidepane-data .sidepane-content .tab-pane .dist-selector {
    display: none;
    font-size: 13px;
    width: 120px;
    height: 30px;
    margin-left: 20px;
}

.sidepane-data .sidepane-content .tab-pane .table {
    width: 95%;
    float: right;
}

.sidepane-data .sidepane-content .tab-pane .table td, table th{
    padding: .5rem;
    vertical-align: middle;
    min-width: 100px;
}

.sidepane-data .sidepane-content .tab-pane .row-title {
    max-width: 150px;
}

.sidepane-data .modal-backdrop {
    z-index: 10;
}

.sidepane-data .table-control-pane a {
    font-style: italic;
}

.sidepane-data .table-control-pane a:hover {
    text-decoration: underline;
}

.edit-data-dialog .form-control {
    width: 400px;
}

.edit-data-dialog .form-group {
    margin-bottom: unset;
}

.edit-data-dialog .form-group .form-control-label {
    max-width: unset;
}

.sidepane-data .sidepane-content .table-control-pane {
    padding-left: 20px;
    margin-bottom: 10px;
}

.sidepane-data .sidepane-content .table-control-pane label {
    padding-top: 10px;
}

.sidepane-data .sidepane-content .table-control-pane .btn-primary {
     float: right;
     color: white;
     background-color: #337ab7;
     border-color: #2e6da4;
 }

.edit-data-dialog .btn-primary {
    float: right;
    color: white;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.sidepane-data .sidepane-content .table-control-pane .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #2D5C93;
    border-color: #204F77;
}

.edit-data-dialog .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #2D5C93;
    border-color: #204F77;
}
