.sidepane-data {
    font-family: Helvetica;
}

.sidepane-data .sidepane-body {
    padding: 50px 0 0 30px;
    margin-bottom: 15px;
}

.sidepane-data .sidepane-body .sidepane-nav-state, .sidepane-nav-county {
    font-size: 14px;
    color: #555555;
    margin-bottom: 0;
}

.sidepane-data .sidepane-body .sidepane-nav-precinct {
    font-weight: 500;
}

.sidepane-data .sidepane-content {
    padding: 10px;
}

.sidepane-data .sidepane-content .nav-link {
    padding: 8px 78px;
}

/* Voting data and Demographic data  */
.sidepane-content .tab-pane .panel {
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.sidepane-content .tab-pane .panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}

.sidepane-content .tab-pane .panel-group .panel+.panel {
    margin-top: 5px;
}

.sidepane-content .tab-pane .panel-group .panel-default {
    border-color: #dddddd;
}

.sidepane-data .sidepane-content .panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.sidepane-data .sidepane-content .panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}

